<!DOCTYPE html>
<html>
<head>
  <title>Jobler</title>
  <%= stylesheet_link_tag    "jobler/application", media: "all" %>
  <%= javascript_include_tag "jobler/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
